<div class="home">
  <h2>{{message}}</h2>

  <h1>Cadastro de Funcionários</h1>

  <div class="botoes">
    <a href="/users/allUsers" class="btn">
      <i class="bi bi-search"></i> Ver Funcionários
    </a>
    <a href="/users/add" class="btn">
      <i class="bi bi-plus-square"></i> Adicionar Funcionário
    </a>
  </div>
</div>