<div class="home">
  <h2>{{message}}</h2>

  <h1>Cadastro de Funcionários</h1>

  <div class="botoes">
    <a href="/users/add" class="btn">Adicionar Funcionário</a>
    <a href="/users/allUsers" class="btn">Ver Funcionários</a>
  </div>
</div>