<h1>Adicionar Funcionário</h1>
<form action="/users/add" method="post">
  <input type="text" name="name" placeholder="Nome" />
  <input type="text" name="func" placeholder="Função" />
  <input type="number" name="wage" placeholder="Salário" />
  <input type="submit" value="Cadastrar" class="btn" />
</form>