<div class="formUser">
  <div class="title2">
    <h1>Adicionar Funcionário</h1>
    <a href="/users" class="btn">
      <i class="bi bi-house"></i> Home
    </a>
  </div>
  
  <form action="/users/add" method="post" class="row">

    <div class="">
      <div class="row">
        <div class="col">
          <label for="nome" class="form-label">Nome:</label>
          <input type="text" name="name" placeholder="Nome" class="form-control"/>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="funcao" class="form-label">Função:</label>
          <input type="text" name="func" placeholder="Função" class="form-control"/>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="salario" class="form-label">Salário:</label>
          <input type="number" name="wage" placeholder="Salário" class="form-control"/>
        </div>
      </div>
      <div class="col botoes">
        <a href="/users/allUsers" class="btn">
          Voltar
        </a>
        <input type="submit" value="Cadastrar" class="btn" />
      </div>
    </div>

  </form>
  
</div>